html {
    background: white;
}

#Navbar {
    position: top;
    top: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(51, 51, 51);
}

#Home,
#Why,
#Dates {
  float: left;
}

#Home a,
#Why a,
#Dates a {
    display: block;
    color: rgb(242, 242, 242);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: Helvetica;
}

#Home a:hover,
#Why a:hover,
#Dates a:hover {
    background-color: rgb(221, 221, 221);
    color: black;
}

#Home a.active,
#Why a.active,
#Dates a.active {
    background-color: rgb(187, 187, 187);
    color: white;
}

p {
    color: rgb(0, 0, 0);
    font-family: Helvetica;
    position: absolute;
    z-index: 2;
    padding-left: 50%;
}

h1 {
    color: rgb(0, 0, 0);
    font-family: Helvetica;
    font-size: 500%;
    left: 35%;
    position: absolute;
    z-index: 1;
}

img {
    width: 100%;
    padding: 0%;
    position: relative;
    z-index: 0;
}