html {
    background: white;
}

@font-face {
    font-family: Open;
    src: url(Fonts/OpenSans-Regular.ttf);
}

ul {
    list-style: none;
    margin: 0;
    padding-top: 6px;
    /*13 px split*/
    padding-left: 17px;
}

#About {
    display: inline;
    font-family: Open;
    padding-top: 7px;
    font-size: 12px;
    color: rgb(31, 31, 31);
}

#Store {
    display: inline;
    font-family: Open;
    padding-top: 7px;
    font-size: 12px;
    color: rgb(31, 31, 31);
    padding-left: 17px;
}

#Gmail {
    display: inline;
    font-family: Open;
    padding-top: 7px;
    font-size: 12px;
    color: rgb(31, 31, 31);
    padding-right: 17px;
}

#Images {
    display: inline;
    font-family: Open;
    padding-top: 7px;
    font-size: 12px;
    color: rgb(31, 31, 31);
    padding-right: 17px;
}

#Buttons {
    display: inline;
    font-family: Open;
    padding-top: 7px;
    font-size: 12px;
    color: rgb(31, 31, 31);
    padding-right: 17px;
}

#Pfp {
    color: rgb(31, 31, 31);
    padding-right: 17px;
}

#Google {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}