html {
    background: white;
}

p {
    color: rgb(0, 0, 0);
    font-family: Helvetica;
    text-align: left;
    position: absolute;
    z-index: 1;
    padding-left: 50%;
}

h1 {
    color: rgb(0, 0, 0);
    font-family: Helvetica;
    font-size: 300%;
    text-align: left;
    position: absolute;
    z-index: 1;
}

img {
    width: 100%;
    padding: 0%;
    position: relative;
    z-index: 0;
}